.homeButton {
  width: 120px;
  height: 30px;
  cursor: pointer;
  transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
  border: none;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  display: block;
  margin: 20px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #d5d6e5;
  &__icon {
    width: 20px;
    height: 20px;
  }
}

.homeButton:focus,
.homeButton:hover {
  background-color: rgb(251, 109, 58);
  transform: scale(1.05);
}
