.container {
  position: absolute;
  top: 4%;
  right: 2%;
  overflow: hidden;
  width: 300px;
  height: 300px;
  &__image {
    height: 500px;
    position: absolute;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    top: 20px;
    left: 200px;
    min-width: 950px;
  }
}

@media (min-width: 1024px) {
  .container {
    top: 50px;
    left: 500px;
  }
}
