.container {
  overflow: hidden;
  width: 300px;
  height: 300px;
  position: relative;
  &__image {
    height: 500px;
    position: absolute;
    top: 80%;
    left: 60%;
    transform: translate(-60%, -50%);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    top: 20px;
    left: 200px;
    min-width: 950px;
  }
}

@media (min-width: 1024px) {
  .container {
    top: 50px;
    left: 500px;
  }
}
