.readMore {
  width: 100%;
  max-width: 400px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 8px 15px 20px rgba(0, 0, 0, 0.8);
  background-image: url("../../images/windowBackground/windowBackgroung.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__headBox {
    border-bottom: 3px solid rgb(251, 109, 58);
    width: 180px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 5px;
    margin-top: 0px;
  }

  &__description {
    margin: 15px;
    padding-bottom: 15px;
  }
}
