.skills {
  background-color: white;
  border-radius: 10px;
  box-shadow: 8px 15px 20px rgba(0, 0, 0, 0.8);
  position: relative;
  background-image: url("../../images/windowBackground/windowBackgroung.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 400px;

  &__headBox {
    border-bottom: 3px solid rgb(251, 109, 58);
    width: 180px;
    margin-left: 15px;
  }

  &__title {
    text-align: center;
    padding-top: 15px;
    margin-bottom: 5px;
    margin-top: 0px;
  }

  &__skillsList {
    list-style: none;
    padding-left: 0px;
    margin: 15px;
    margin-bottom: 0px;
    margin-top: 5px;
  }

  &__langList {
    list-style: none;
    padding-left: 0;
    margin: 15px;
  }

  &__langList li {
    position: relative;
    padding-left: 30px;
  }

  &__langList li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 80%;
    transform: translateY(-50%);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__langList li:nth-child(1)::before {
    background-image: url("../../images/england.jpg");
    width: 25px;
    height: 25px;
  }

  &__langList li:nth-child(2)::before {
    background-image: url("../../images/poland.jpg");
    width: 25px;
    height: 25px;
  }

  &__softSkillsList {
    padding-bottom: 15px;
    padding-top: 15px;
    margin: 0;
  }

  &__button {
    width: 120px;
    height: 30px;
    cursor: pointer;
    transition: transform 200ms ease-in-out, background-color 200ms ease-in-out;
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 15px;
    right: 15px;
    border-radius: 5px;
    background-color: #d5d6e5;
  }

  &__button:focus,
  &__button:hover {
    background-color: rgb(251, 109, 58);
    transform: scale(1.05);
  }
}

.skillsCollapsed {
  height: 320px;
  overflow: hidden;
  transition: height 200ms ease-in-out;
}

.hideLangTitle {
  visibility: hidden;
}
