@import "../../styles/mixins";

.pageHome {
  width: 100%;
  height: auto;
  background-image: url("../../images/homeBackground/homeBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 8px 15px 20px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 30px 20px;
  position: relative;

  &__picture {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__components {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

@include tablet {
  .pageHome {
    max-width: 700px;
    margin: 0 auto;
  }
}
