.container {
  margin: 15px auto;
  width: 85%;
  height: 1900px;
  background-image: url("../../images/homeBackground/homeBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 8px 15px 20px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 25px 50px;
  position: relative;
  min-width: 500px;
}
.containerExpand {
  height: 2200px;
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
  .container {
    min-width: 1050px;
    max-width: 1200px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  border: 3px solid green;
  display: flex;
  align-items: center;
}
