@import "../../styles/mixins";
@import "../../styles/colors";

.pageHome {
  width: 100%;
  height: auto;
  background-image: url("../../images/homeBackground/homeBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 8px 15px 20px var(--shadow-color);
  border-radius: 5px;
  padding: 30px 20px;
  position: relative;

  &__picture {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__components {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

@include tablet {
  .pageHome {
    max-width: 700px;
    margin: 0 auto;
  }
}

@include desktop {
  .pageHome {
    max-width: 900px;
    margin: 0 auto;

    &__components {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
      align-items: flex-start;
    }

    &__components > * {
      flex-basis: calc((100% - 20px) / 2);
    }
  }
}
