.container {
  width: 100%;
  height: auto;
  background-image: url("../../images/homeBackground/homeBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 8px 15px 20px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 30px 20px;
  position: relative;
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
  .container {
    min-width: 1050px;
    max-width: 1200px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  border: 3px solid green;
  display: flex;
  align-items: center;
}
.cardsContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.pictureContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
