@import "../../styles/mixins";
@import "../../styles/colors";

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  &__title {
    font-size: 42px;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  &__description {
    font-size: 20px;
    color: var(--accent-color);
    text-align: center;
    margin: 0;
  }
}

@include tablet {
  .header {
    justify-content: space-around;
  }
}
