.info {
  max-width: 200px;
  height: 150px;

  &__title {
    font-size: 42px;
    color: white;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  &__description {
    font-size: 20px;
    color: rgb(251, 109, 58);
    text-align: center;
    margin: 0;
  }
}

.header {
  display: flex;
  align-items: center;

  justify-content: space-between;
}
