@import "../../styles/colors";

.certs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  &__title {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px var(--shadow-color);
    margin-bottom: 0;
  }

  &__description {
    text-align: center;
    margin: 0;
    color: var(--accent-color);
    text-shadow: 2px 2px 2px var(--shadow-color);
  }

  &__image {
    width: 100%;
    border-radius: 10px;
  }
}
