.certs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  &__title {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
  }

  &__image {
    width: 100%;
    border-radius: 10px;
  }
}
