@import "../../styles/mixins";

.pageCertificates {
  width: 100%;
  height: auto;
  background-image: url("../../images/homeBackground/homeBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 8px 15px 20px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  padding: 30px 20px;
  position: relative;
}

@include tablet {
  .pageCertificates {
    max-width: 700px;
    margin: 0 auto;
    padding: 60px 50px;
  }
}
